<%- include('partials/header'); -%>

<div class="album py-5 bg-light">
  <div class="container myPad">
    <div class="row">

      <%suspects.forEach(function(suspect) {%>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
              <div class="card-body">
                <form action="/action" method="post">
                  <p name="mypara" class="card-text"><%= suspect.description %></p>
                  <div class="card-text">
                    <p>Id: <%= suspect.id %></p>
                    <p>Name: <%= suspect.name %></p>
                    <p>Height: <%= suspect.height %></p>
                    <p>Age: <%= suspect.age %></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button name="buttonAction" value="view<%=suspect.name%>" type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                      <button name="buttonAction" value="trak<%=suspect.name%>" type="submit" class="btn btn-sm btn-outline-secondary">Track</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </form>
              </div>
            </div>
          </div>
      <%});%>

    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
