<%- include('partials/header-formatted'); -%>

<div class="container bg-light myPad" >

  <h1 style="margin-top: 3rem">Suspect Details</h1>

  <h3>Suspect ID</h3>
  <p><%=suspect.id%></p>

  <h3>Name</h3>
  <p><%=suspect.name%></p>

  <h3>Height</h3>
  <p><%=suspect.height%></p>

  <h3>Weight</h3>
  <p><%=suspect.age%></p>

  <h3>Description</h3>
  <p><%=suspect.description%></p>

</div>

<%- include('partials/footer'); -%>
